<table class="table table-hover">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </thead>
  <tbody *ngFor="let bug of bugs">
    <tr>
      <td (click)="populateForm(bug)">{{bug.id}}</td>
      <td (click)="populateForm(bug)">{{bug.title}}</td>
      <td (click)="populateForm(bug)">{{bug.description}}</td>
      <td (click)="populateForm(bug)">{{bug.status}}</td>
      <td><button class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
  </tbody>
</table>
