<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">JWT Auth System - <strong>{{userDetails.userName}}</strong> is logged in</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-4" style="width: 20rem; background-color: orange;" *ngIf="userDetails">
  <h4>User Details</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Username: </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>Fullname: </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{userDetails.email}}</li>
  </ul>
</div>



<div class="card m-4">
  <h4>Bug Details</h4>
  <div class="table responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class="booking-table" *ngFor="let bug of bugs">
        <td>{{ bug.id }}</td>
        <td>{{ bug.title }}</td>
        <td>{{ bug.description }}</td>
      </tbody>
    </table>
  </div>
</div>


