<!-- <nav class="navbar navbar-light" style="background-color: #9ed0ecc5;">
  <a class="navbar-brand text-white">Logged in as: <strong>{{userDetails.userName}}</strong></a>
  <button class="btn btn-danger" (click)="onLogout()">Logout</button>
</nav> -->

<!-- <div class="card m-4" style="width: 20rem; background-color: orange;" *ngIf="userDetails">
  <h4>User Details</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Username: </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>Fullname: </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{userDetails.email}}</li>
  </ul>
</div> -->

<app-main-nav></app-main-nav>
