<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">JWT Auth System - <strong>{{userDetails.userName}}</strong> is logged in</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
  <h4>User Details</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Username: </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>Fullname: </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email: </strong>{{userDetails.email}}</li>
  </ul>
</div>

<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
    <h4>Bug Details</h4>
    <ul class="list-group">
      <li class="list-group-item"><strong>Title: </strong>PLACEHOLDER FOR TITLE</li>
      <li class="list-group-item"><strong>Subject: </strong>PLACEHOLDER FOR SUBJECT</li>
    </ul>
  </div>


